{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" /> -->
          <h1 class="text-body-emphasis">{{ student.first_name }} {{student.middle_name}} {{ student.last_name }}</h1>
          <br>
          <p class="col-lg-8 mx-auto fs-5 text-muted">Course of Study : {{ student.department }}</p>
          <p class="col-lg-8 mx-auto fs-5 text-muted">Year Graduated : {{ student.year }}</p>
          <div class="d-inline-flex gap-2 mb-5">
            <a href="{% url 'student_edit' student.pk %}" class="btn btn-md btn-success" style="margin-right: 16px;">View Certificate</a>
            <a href="{% url 'student_edit' student.pk %}" class="btn btn-md btn-warning" style="margin-right: 16px;">Edit Info</a>
            <a href="{% url 'student_delete' student.pk %}" class="btn btn-md btn-danger">Delete Record</a>

          </div>
        </div>
      </div>
    </div>
{% endblock content %}