{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <img class="mb-4" src="{{ student.image.url }}" alt="" width="100" height="100" style="border-radius: 50px;"/>
          <h3>{{ student.first_name }} {{student.middle_name}} {{ student.last_name }}</h3>
          <p>Course of Study : {{ student.department }}</p>
          <p>Year Graduated : {{ student.year }}</p>
          <div class="d-inline-flex gap-2 mb-5">
            <a href="{% url 'view_cert' student.pk %}" class="btn btn-sm btn-success" style="margin-right: 16px;">View Certificate</a>
            <a href="{% url 'student_edit' student.pk %}" class="btn btn-sm btn-warning" style="margin-right: 16px;">Edit Info</a>
            <a href="{% url 'student_delete' student.pk %}" class="btn btn-sm btn-danger">Delete Record</a>

          </div>
        </div>
      </div>
    </div>
{% endblock content %}